CONFIG_KSU=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_MODULE_SIG_PROTECT=n
CONFIG_SECCOMP=n
CONFIG_SECCOMP_FILTER=n
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS_XATTR=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_LTO_CLANG_THIN=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BBR=n
CONFIG_TCP_CONG_BBR3=y
CONFIG_DEFAULT_BBR3=y
CONFIG_DEFAULT_TCP_CONG="bbr3"
CONFIG_NET_SCH_FQ=y
CONFIG_NET_SCH_CAKE=y
CONFIG_NETFILTER_XT_TARGET_HL=y
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_ZRAM=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_ZRAM_DEF_COMP_LZORLE=n
CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_ZRAM_DEF_COMP="zstd"
